@font-face {
    font-family: semiBold;
    src: url(../font/Montserrat-Medium.otf);
}

@font-face {
    font-family: fontBold;
    src: url(../font/Montserrat-Bold.otf);
}

@font-face {
    font-family: fontThin;
    src: url(../font/Montserrat-Medium.otf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    height: 120vh;
}

header {
    display: flex;
    align-items: center;
    margin: 20px;
    background-color: transparent;
    z-index: 999999;
}

nav {
    margin-left: 45%;
}

.logo {
    width: 100px;
    margin-left: 10%;
}

li {
    display: inline-block;
    padding: 30px;
    font-family: semiBold;
    font-size: 14px;
    cursor: pointer;
}

li:after {
    content: '';
    display: block;
    margin: auto;
    height: 2px;
    width: 0%;
    background: transparent;
    transition: width .2s ease-in-out, background-color .2s ease;
}
li:hover:after {
    width: 100%;
    background: black;
}

.started {
    border: solid #000 2px;
    border-radius: 9px;
    padding: 10px 15px;
}

.div-learn {
    transform: translate(11%, 35%);
}

.title {
    font-family: fontBold;
    font-size: 50px;
}

.round {
    background: #feccc3;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    position: absolute;
    margin-left: -13%;
}

.p-learn {
    font-family: fontThin;
    font-weight: 100;
    margin-top: 2%;
}

.btnStarted {
    font-family: fontThin;
    color: white;
    background-color: #372e7f;
    border: none;
    padding: 15px 15px;
    border-radius: 10px;
    margin-top: 2%;
}

.img-div {
    width: 950px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.all-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 20%;
}

.img-icon {
    width: 60px;
}

.bold {
    font-weight: bold;
}

.p-container {
    margin-top: 8%;
    font-family: fontThin;
}